@media only screen and (min-width: 600px) {
  %block {
    position: fixed;
    display: flex;
  }

  .one {
    @extend %block;
    top: 0;
    right: 10vw;
  }

  .two {
    @extend %block;
    top: 30vh;
    left: 10vw;
  }

  .three {
    @extend %block;
    top: 60vh;
    right: 25vw;
  }

  .wraper {
    display: flex;
    flex-direction: column;
    pointer-events: none;

    .fakeElem {
      width: 5vw;
      height: 20vh;
    }
  }

}
