@media only screen and (min-width: 600px) {
  %block {
    position: fixed;
    display: flex;
  }

  .one {
    @extend %block;
    top: 0;
    right: 10vw;
  }

  .two {
    @extend %block;
    top: 30vh;
    left: 10vw;
  }

  .three {
    @extend %block;
    top: 60vh;
    right: 25vw;
  }

  .wraper {
    display: flex;
    flex-direction: column;
    pointer-events: none;

    .fakeElem {
      width: 5vw;
      height: 20vh;
    }
  }

}

@media only screen and (max-width: 600px) {
  .one {
    position: fixed;
    display: flex;
    width: 50vw;
    height: 50vh;
    background-color: white;
    top: 25vh;
  }

  .two {
    position: fixed;
    display: flex;
    width: 50vw;
    height: 50vh;
    background-color: white;
    top: 25vh;
  }

  .three {
    position: fixed;
    display: flex;
    width: 50vw;
    height: 50vh;
    background-color: white;
    top: 25vh;
  }

  .wraper {
    display: none;
    //flex-direction: column;
    //pointer-events: none;
    //
    //.fakeElem {
    //  width: 5vw;
    //  height: 20vh;
    //}
  }

}
