body{
    margin-top: 100px;
    margin-left: 60px;

}
.w{
    position: relative;
    float: left;
    width: 50px;
    height: 200px;
    border: 1px solid black;
    background-color: whitesmoke
    
}
.b2{
    position: relative;
    float: left;
    left: -716px;
    margin-left: 26px;
    top: 0px;
    width: 25px;
    height: 100px;
    border: 1px solid black;
    background-color: black
    
}
.b3{
    position: relative;
    float: left;
    left: -663px;
    margin-left: 24px;
    top: 0px;
    width: 25px;
    height: 100px;
    border: 1px solid black;
    background-color: black
    
}
.b4{
    position: relative;
    float: left;
    left: -608px;
    margin-left: 24px;
    top: 0px;
    width: 25px;
    height: 100px;
    border: 1px solid black;
    background-color: black
    
}
.b5{
    position: relative;
    float: left;
    left: -553px;
    top: -102px;
    margin-left: 24px;
    top: 0px;
    width: 25px;
    height: 100px;
    border: 1px solid black;
    background-color: black
    
}
#note{
    clear: left;
    width: 728px;
    height: 15px;
    text-align: center;
    border-collapse: collapse;
}

.notes{  
    position: relative;
    float: left;
    width: 50px;
    height: 20px;
    border: 1px dotted black;
    background-color: whitesmoke;
    border-radius: 5px;

}
.C:hover{ 
    background-color: rgb(212, 66, 66);
}
.D:hover{
    background-color: rgb(195, 108, 51);
}
.E:hover{
    background-color: rgb(199, 185, 63);
}
.F:hover{
    background-color: rgb(44, 128, 30);
}
.G:hover{
    background-color: rgb(63, 194, 199);
}
.A:hover{
    background-color: rgb(40, 37, 207);
}
.B:hover{
    background-color: rgb(104, 63, 199);
}