* {
  cursor: url('./imgs/icons8-inactive-state-24.png'), auto;
  margin: 0;
}

body, html {
  height: 100%;
}

@keyframes dinoShake {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(30deg)
  }
  50% {
    transform: rotate(-30deg);
  }
}

@media only screen and (max-width: 760px) {
  .logo {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  .nav {
    padding-left: 0px;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  background:linear-gradient( rgba(255,0,0,0), #A6C3B5)
}

.nav {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  color: rgb(194, 114, 24);
  margin: 5px;
  padding: 5px;
  transition: 1s linear;
  align-self: center;
}

li:hover {
  transform: scale(1.2);
  transition: 1s linear;
  color: brown;
}

a {
  font-family: 'Bungee Shade', cursive;
  align-self: center;
  font-size: 42px;
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.logo {
  width: 8vw;
  height: auto;
  align-self: center;
}

.logo:hover {
  animation: dinoShake 6s ease-in-out;
}

.main {
  height: 100%;
  width: auto;
  background-image: url("./imgs/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}