@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  font-family: 'Akaya Telivigala', cursive;
  width: 80vw;
  margin: 3vh auto 3vh auto;
  display: flex;
  flex-wrap: wrap;


  div {
    flex-basis: 30%;
    height: fit-content;
    transition: all 0.8s ease-in-out;
    flex-grow: 1;

    img{
      float: left;
    }
  }

  div:hover {
    background-color: #e8cbc7;
    transform: scale(1.1);
  }
}
