@media screen and (min-width: 780px) {
  .container {
    width: 80vw;
    margin: 3vh auto 3vh auto;
    display: flex;
  }
}

@media screen and (max-width: 780px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
