.cardBox {
  padding: 1.5vw;

  h1 {
    font-family: 'Bebas Neue', cursive;
  }

  .projectImg {
    pointer-events: none;
    width: auto;
  }

  span {
    display: flex;
    justify-content: flex-end;
  }

}

.cardBox:hover {
  border-radius: 15px;
  border: 5px dashed grey;
}
