.cardBox {
  border-radius: 15px;
  display: inline-block;
  padding: 1.5vw;

  .projectImg {
    pointer-events: none;
    width: auto;
  }

  span {
    display: flex;
    justify-content: flex-end;
  }

}

.cardBox:hover {
  border: 5px dashed grey;
}
