@keyframes appear {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes step {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 600px) {

  body::-webkit-scrollbar {
    display: none;
  }

  %circle {
    border-radius: 50%;
    background-color: #e8cbc7;
    animation-name: appear;
    animation-iteration-count: infinite;
  }

  .bubbleContainer {

    div {

      background: lightgrey;
      position: relative;
      padding: 1vw;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;

      p {
        transform: rotate(180deg);
      }
    }

    div:before {
      content: "";
      position: absolute;
      right: 100%;
      top: 26px;
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-right: 26px solid lightgray;
      border-bottom: 13px solid transparent;
    }
  }

  .welcomeContainer {
    width: 80vw;
    height: 3000px;
    position: relative;
  }

  .blockOne {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;

    .bubbleContainer {
      transform: rotate(180deg);
      align-self: center;
      margin-right: 5vw;

      div {
        width: 30vw;
        height: 14vh;
      }
    }

    .one {
      @extend %circle;
      width: 20vw;
      height: 20vw;
      animation-duration: 4s;
    }
  }

  .blockTwo {
    position: fixed;
    top: 40%;
    left: 10vw;
    display: flex;
    align-items: center;

    .bubbleContainer {
      margin-left: 5vw;

      div {
        width: 30vw;
        height: 10vh;
      }
    }

    .two {
      @extend %circle;
      width: 10vw;
      height: 10vw;
      animation-duration: 5s;
    }
  }

  .blockThree {
    position: fixed;
    top: 70%;
    right: 20%;
    display: flex;
    align-items: center;

    .bubbleContainer {
      transform: rotate(180deg);
      margin-right: 5vw;

      div {
        width: 30vw;
        height: 20vh;
      }
    }

    .three {
      @extend %circle;
      width: 10vw;
      height: 10vw;
      animation-duration: 4s;
    }
  }


}

@media only screen and (max-width: 600px) {
  .navContainer {

  }
}
