@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bubbleContainer {
  align-self: flex-start;
  position: relative;
  text-align: center;
  animation-name: appear;
  animation-duration: 2s;

  img {
    width: 100%;
    transform: rotateY(180deg);
  }

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}