.app {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: flex;
}

.contentContainer {
  position: absolute;
  top: 5vh;
}

@media screen and (min-width: 780px) {
  .contentContainer {
    left: 10vw;
  }
}

@media screen and (max-width: 780px) {
  .contentContainer {
    left: 15vw;
  }
}