@media screen and (min-width: 1070px) {
  .experienceList {
    max-width: 30vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  div {
    //list-style: url("briefcase.svg");
    margin-right: 2vw;
  }
}

@media screen and (max-width: 1070px) {
  .experienceList {
    div {
      //list-style: none;

    }
  }
}