@keyframes spin {
  0% {
    opacity: 0;
  transform: rotate(45deg);
  }
  100% {
    opacity: 1;
    transform: rotate(365deg);
  }
}

@media screen and (min-width: 730px) {
  .contactContainer {
    width: 80vw;
    display: flex;
  }

  .linksblock {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;

    h3 {
      font-family: 'Bebas Neue', cursive;
    }
    img{
      animation-name: spin;
      animation-duration: 12s;
      animation-iteration-count: 1;
    }
  }

  .socialNetworks {
    min-width: 15vw;
    background-color: #e8cbc7;
    border: 1px solid black;
    border-radius: 15px;
    height: fit-content;
    padding: 1vw;

    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: auto;
    }
  }

  .codeList {
    min-width: 15vw;
    height: fit-content;
    padding: 1vw;
    background-color: #e8cbc7;
    border: 1px solid black;
    border-radius: 15px;

    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: auto;
    }
  }
}

;

@media screen and (max-width: 730px) {
  .contactContainer {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }
  .linksblock {
    display: flex;
    flex-direction: column;
  }
}

;
